<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTnPhkhdZUlhOAk_8dJenThZnOlEhucxE</string>
	<key>GCM_SENDER_ID</key>
	<string>882399747124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ran.inv44stg4n1us</string>
	<key>PROJECT_ID</key>
	<string>app280-62d3e</string>
	<key>STORAGE_BUCKET</key>
	<string>app280-62d3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882399747124:ios:70a00a126e81bad48ebe61</string>
</dict>
</plist>